body {
  display: flex;
  flex-direction: column;
}

footer {
  flex: 0 30px;
  background-color: #52576e;
}

footer a {
  float: right;
}

header {
  flex: 0 80px;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style-type: none;
}

menu .nav-item {
  padding: 0 0.3em;
}

.about-descr {
  font-size: small;
  width: 400px;
  margin: 10px 0 0 10px;
}

.about-photo {
  background-color: #f2f5ff;
  padding: 30px;
  border-radius: 25px;
}

.about-text {
  width: 550px;
  background-color: #f2f5ff;
  padding: 30px;
  border-radius: 25px;
}

.form-label {
  float: right;
}

.login {
  background-color: #f2f5ff;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar {
  background-color: #9ea3ba;
}

.navbar-brand {
  padding-left: 1em;
  /* add this if you want a line underneath the title*/
  /* border-bottom: solid rgb(182, 182, 182) thin; */
}

.slogan {
  color: white;
  flex: 0 310px;
  margin-top: 20px;
}

.submit {
  float: right;
}
