body {
  display: flex;
  flex-direction: column;
}

footer {
  flex: 0 30px;
  background-color: #52576e;
}

footer a {
  float: right;
}

h2 {
  margin-bottom: 40px !important;
}

header {
  flex: 0 80px;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style-type: none;
}

menu .nav-item {
  padding: 0 0.3em;
}

.about-descr {
  font-size: small;
  width: 400px;
  margin: 10px 0 0 10px;
}

.about-photo {
  background-color: #d9e1ff;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.about-text {
  width: 550px;
  background-color: #f2f5ff;
  padding: 30px;
  border-radius: 25px;
}

.current-item {
  font-size: large;
  background-color: #d9e1ff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.currently-reading {
  flex: 1;
  background-color: #f2f5ff;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 25px;
  margin: 0 20px 0 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.home-container {
  display: grid !important;
  grid-template-columns: auto auto auto;
  padding: 10px;
  row-gap: 20px;
  column-gap: 20px;
}

.home-item {
  background-color: #d9e1ff;
  border-radius: 7px;
  padding: 20px;
}

.login {
  background-color: #f2f5ff;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar {
  background-color: #9ea3ba;
}

.navbar-brand {
  padding-left: 1em;
}

.rating {
  font-size: 25px;
}

.reviews {
  flex: 3;
  margin-left: 75px;
  background-color: #f2f5ff;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.review-container {
  display: grid !important;
  grid-template-columns: auto auto;
  margin: 10px;
  row-gap: 15px;
  background-color: #d9e1ff;
  padding: 10px;
  border-radius: 10px;
}

.slogan {
  color: white;
  flex: 0 310px;
  margin-top: 20px;
}

.submit {
  float: right;
}

.username {
  font-weight: bold;
  font-style: italic;
  align-self: end;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}
